<!DOCTYPE html>
<html>
<head>
	<title>url1</title>
</head>
<body>

	<h1 align="center">First clause</h1>

	<p>
Bangladesh - Wikipediaen.wikipedia.org › wiki › Bangladesh
Bangladesh officially the People's Republic of Bangladesh, is a country in South Asia. It is the eighth-most populous country in the world, with a population ...
Capital and largest city: Dhaka; 23°45′50″N ...‎
Demonym(s): Bangladeshi
Calling code: +880
Currency: Bangladeshi taka (৳) (‎BDT‎)‎
‎Dhaka · ‎History · ‎Politics of Bangladesh · ‎Portal:Bangladesh
You've visited this page 2 times. Last visit: 1/29/19</p>

<a href="{{url_for('more')}}">see more</a>

</body>
</html>