<!DOCTYPE html>
<html>
<head>
	<title>second page</title>
</head>
<body>

	<h1 align="center">Second Page</h1>

	<p>
Bangladesh Homewww.worldbank.org › country › bangladesh
Latest news and information from the World Bank and its development work in Bangladesh. Access Bangladesh's economy facts, statistics, project information, ...

South Asia :: Bangladesh — The World Factbook - Central ...www.cia.gov › publications › the-world-factbook › geos
Satellite image showing Bangladesh and nearby countries. Bangladesh itself is bordered by India on its east, north, and west sides, and by Burma on the ...</p>

<a href="{{url_for('index')}}">First page</a>

</body>
</html>